@model ProiectIP.Models.Category
@{
    ViewBag.Title = "4NEWS Add category";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<style>
    .centerForm {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>
<div class="centerForm">
    <ol class="breadcrumb">
        <li><h3>CREATE A NEW CATEGORY</h3></li>
    </ol>
    <form method="post" action="/Categories/New">
        <div class="panel-body">
            @Html.Label("CategoryName", "Category name")
            <br />
            @Html.TextBox("CategoryName", null, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.CategoryName, null, new { @class = "text-danger " })*@
            <br />
        </div>
        <div class="panel-footer">
            <button class="btn btn-pink" type="submit">Add category</button>
        </div>
        
    </form>
</div>

