
            <div class="footer_bottom_Section">
                <div class="container">
                    <div class="row">
                        <div class="footer">
                            <div class="col-sm-3">
                                @Html.Partial("SocialMediaContact")
                            </div>
                            <div class="col-sm-6">
                                <p>&copy; Copyright 2019-4NEWS . Design by: <a href=#>4NEWS TEAM</a> </p>
                            </div>
                            
                            <div class="col-sm-3">
                                <p>4NEWS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
