<div class="social">
    <a class="icons-sm fb-ic" href="https://www.facebook.com/andreea.codreanu127"><i class="fa fa-facebook"></i></a>
    <!--Twitter-->
    <a class="icons-sm tw-ic" href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a>
    <!--Instagram +-->
    <a class="icons-sm inst-ic" href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram"> </i></a>
    <!--Linked in-->
    <a class="icons-sm tmb-ic" href="https://www.linkedin.com/in/andreea-alexandra-codreanu-0b332715b/"><i class="fa fa-linkedin"> </i></a>
    <!--Pinterest-->
    <a class="icons-sm rss-ic" href="https://www.pinterest.com/"><i class="fa fa-pinterest"> </i></a>
</div>